@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

.project {
  position: relative;
  //min-height: calc(100vh - 484px);

}
.projectWrapper {
  position: relative;
  &:before {
    position: absolute;
    z-index: -1;
    content: '';
    top: -130px;
    left: 0;
    width: 100%;
    height: 150%;
    background: url(../../assets/images/page_not_found/bgpage-not-found2.jpg) 0 0 no-repeat;
    background-size: cover;
  }

  @media (max-width: 720px) {
    margin-bottom: 0;
  }
}
.projectContainer {
  display: flex;
  flex-direction: column;
  transform: translate3d(-100px, 85px, 0px);
  padding-top: 117px;
  @extend %wrapper;
}
.projectImg {
  width: 652px;
  height: 380px;
  position: relative;
}
.figureTimo {
  max-width: 455px;
  margin: 0 auto;
}
.titleBox {
  margin-bottom: 80px;
}
.contentLabel {
  @extend %subTitle;
  font-family: $Raleway;
  color: #fff;
}

.title {
  @extend %title;
  color: #fff;
}
.subTitle {
  @extend %subTitle;
}
.subTitleTeam {
  @extend %subTitle;
}
.titleTeam {
  @extend %title;
  background: linear-gradient(130.82deg, #627FE7 11.56%, #3962CA 81.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/*.description {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  opacity: 0.8;
  text-align: justify;
  margin-bottom: 45px;
}*/
.btnBox {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
}
.btnBackActive {
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 10px;
  line-height: 32px;
  padding: 0 32px;
  min-width: 128px;
  text-align: center;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: none;
  color: #fff;
}
.teamData {
  display: flex;
  justify-content: center;
  background: linear-gradient(143.45deg, rgba(232, 227, 239) 21.29%, rgba(225, 218, 235) 58.54%, rgba(199, 187, 219) 91.42%);
  border-radius: 3px;
  padding-top: 144px;
  padding-bottom: 64px;
  margin-bottom: 80px;
}
.teamContainer {
  @extend %wrapper;
  display: flex;
  justify-content: space-between;
}
.teamBox {
  text-align: center;
}
.businessBox {
  max-width: 736px;
  margin: 0 auto 88px;
  padding: 0 32px;
}
.businessTitle {
  @extend %title;
  color: black;
}
.tehnBox {
  display: flex;
  flex-wrap: wrap;
  max-width: 270px;
}
.descr {
  @extend %dscr;
  //position: relative;
}
.technology {
  background: linear-gradient(143.45deg, rgba(232, 227, 239, 0.3) 21.29%, rgba(225, 218, 235, 0.3) 58.54%, rgba(199, 187, 219, 0.3) 91.42%);
  border-radius: 3px;
  margin-bottom: 80px;
}
.technologyWrapper {
  display: flex;
  margin: 0 auto;
  @extend %wrapper;
}
.technologyImgBox {
  position: relative;
  top: -100px;
  left: 0;
}

.technologyContainer {

  padding-top: 104px;
  padding-bottom: 115px;
}
.php,
.posGres,
.js,
.drupal {
  @extend %subTitle;
  padding: 6px 32px;
  border-radius: 2px;
  margin-bottom: 20px;
}
.php {
  margin-right: 24px;
  color: #D9657F;
  background: linear-gradient(130.82deg, rgba(204, 116, 116, 0.2) 11.56%, rgba(217, 149, 223, 0.2) 81.16%);
}
.posGres {
  color: #5881CC;
  background: linear-gradient(130.82deg, rgba(116, 199, 204, 0.2) 11.56%, rgba(149, 187, 223, 0.2) 81.16%);
}
.js {
  margin-right: 24px;
  color: #CC945C;
  background: linear-gradient(130.82deg, rgba(202, 204, 116, 0.2) 11.56%, rgba(223, 171, 149, 0.2) 81.16%);
}
.drupal {
  color: #8975DE;
  background: linear-gradient(130.82deg, rgba(127, 116, 204, 0.2) 11.56%, rgba(193, 149, 223, 0.2) 81.16%);
}
.whatWeHave {
  background: linear-gradient(143.45deg, rgba(232, 227, 239, 0.3) 21.29%, rgba(225, 218, 235, 0.3) 58.54%, rgba(199, 187, 219, 0.3) 91.42%);
  border-radius: 3px;
}
.clientReview {
  padding: 150px 0 96px;
  background: url(../../assets/Projects/ClientReview.jpg);
  background-size: cover ;
}
.titleReview {
  @extend %title;
  color: white;
  text-align: center;
  margin-bottom: 64px;
}
.descrReview {
  @extend %dscr;
  color: white;
  text-align: center;
  max-width: 736px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.subTitleReview {
  @extend %subTitle;
  color: white;
  text-align: center;
  margin-bottom: 80px;
}




