@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

.wrapper {
  display: flex;
  //justify-content: center;
  width: 100%;
  padding: 20px 100px;
}
.app {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333234;
  margin-right: 100px;
}

.board,
.boardWrapper,
.boardSecond,
.boardWrapperSecond {
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.boardWrapper {
  height: 100%;
  width: 270px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.boardWrapperSecond {
  width: 100%;
  display: none;
}
.board {
  display: none;
}
.boardTitle {
  font-size: 1.5rem;
  font-weight: 700;
}
.desktop {
  display: flex;
  flex-wrap: wrap;
  background-color: #333234;
  width: 800px;
  height: 800px;
}
.item {
  cursor: grab;
  width: 200px;
  height: 200px;
  margin-bottom: 35px;
  transition: 1s;
}

