// Dimensions
$resizeOffset: 10px;

// Colors
$white: #fff;
$deep: #000c;
$black: #000;
$skyLetters: #3C61C7;

// Gradients
$dawn: linear-gradient(130.82deg, #7f74cc 11.56%, #c195df 81.16%);
$sunset: linear-gradient(130.82deg, #cc7474 11.56%, #d995df 81.16%);
$lightSky: linear-gradient(130.82deg, #74c7cc 11.56%, #95bbdf 81.16%);
$sky: linear-gradient(130.82deg, #627fe7 11.56%, #3962ca 81.16%);
$sun: linear-gradient(130.82deg, #cacc74 11.56%, #dfab95 81.16%);

// FontFamily
$Raleway: 'Raleway', sans-serif;
$Helvetica: 'HelveticaNeueCyr', sans-serif;
