@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');
@import '/assets/fonts/HelveticaNeueCyr/HelveticaNeueCyr.scss';

@import 'reset';
@import 'vars';

html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-family: $Raleway;
  font-size: 14px;
  background-color: #333234;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}
