@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

$leftBgImgSrc: '../../assets/images/left_bg.svg';
$rightBgImgSrc: '../../assets/images/right_bg.svg';

.about {
  @extend %pageHeadingBox;
  background: url(../../assets/images/page_not_found/bgpage-not-found2.jpg) 0 0 no-repeat;
  background-size: 100%;

  &VideoBox {
    @media (max-width: 803px) {
      width: calc(100% + 64px);
      transform: translateX(-32px);
    }

    @media (min-width: 804px) {
      width: 740px;
      height: 380px;
    }
  }

  &Desc {
    @extend %wrapper;
    margin-bottom: 88px;

    @media (min-width: 969px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media (min-width: 970px) and (max-width: 1099px) {
      gap: 40px;
    }

    @media (min-width: 1100px) {
      gap: 40px 100px;
    }

    &Img {
      @media (max-width: 969px) {
        margin-top: 40px;
        text-align: center;
      }
      @media (min-width: 970px) {
        width: 580px;
        order: 1;
      }
    }

    &Text {
      @media (max-width: 969px) {
        max-width: 740px;
        margin: auto;
      }

      @media (min-width: 970px) {
        order: 2;
      }

      @media (min-width: 970px) and (max-width: 1099px) {
        width: calc(100% - 480px);
      }

      @media (min-width: 1100px) {
        width: calc(100% - 680px);
      }
    }
  }
}

.wrapper {
  padding: 64px 0 88px;
  background-color: $white;
}

.header {
  &Box {
    position: relative;
    z-index: 1;
    @extend %box;
    padding-top: 215px;

    @media (max-width: 804px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    content: '';
    background-color: $white;

    @media (max-width: 803px) {
      height: 100px;
    }

    @media (min-width: 804px) {
      height: 140px;
    }
  }

  &Title {
    @extend %title;
    color: $white;
    margin: 0 0 80px;
  }
}

.preTitle {
  @extend %subTitle;
  color: $white;
  margin: 0 0 12px;
}

.title {
  @extend %title;
  margin: 0 0 32px;
}

.scores {
  width: 100%;
  margin: 0 auto 88px;

  @media (max-width: 1199px) {
    max-width: 780px;
  }

  &Box {
    @extend %wrapper;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
  }

  &Item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;

    @media (max-width: 559px) {
      width: calc(100% - 40px);
    }

    @media (min-width: 560px) and (max-width: 739px) {
      width: calc(50% - 20px);
    }

    @media (min-width: 740px) and (max-width: 1199px) {
      width: calc(100% / 3 - 80px / 3);
    }

    @media (min-width: 1200px) {
      width: calc(20% - 160px / 5);
    }
  }

  &Label {
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 36px;
    background: $sky;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  &Desc {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
  }
}

.box {
  @extend %box;
  margin-bottom: 88px;

  @media (max-width: 804px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.content {
  @extend %dscr;

  & p:not(:last-child) {
    margin-bottom: 32px;
  }
}

.team {
  @extend %wrapper;
  display: grid;
  gap: 32px;

  @media (max-width: 519px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 520px) and (max-width: 919px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 920px) and (max-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1025px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & > figure {
    &:nth-child(2):before,
    &:nth-child(5):before {
      background: linear-gradient(130.82deg, #74c7cc 11.56%, #95bbdf 81.16%);
      opacity: 0.07;
    }

    &:nth-child(3):before,
    &:nth-child(8):before {
      background: linear-gradient(130.82deg, #cc7474 11.56%, #d995df 81.16%);
      opacity: 0.07;
    }

    &:nth-child(4):before,
    &:nth-child(7):before {
      background: linear-gradient(130.82deg, #cacc74 11.56%, #dfab95 81.16%);
      opacity: 0.08;
    }
  }
}

.bottomBlockWrap {
  @extend %bottomWrap;
}
