@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

.array {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto;
}
.storagePuzzle {
  height: 700px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}
.imgPuzzle,
.desktopPuzzle {
  width: 100px;
  height: 100px;
  border: 2px solid gainsboro;
  cursor: grab;
}
.desktop {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  align-items: center
}
.desktopPuzzle {}
