@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

$bgImgSrc: '../../assets/images/shapes-bg.png';

.cases {
  @extend %pageHeadingBox;
  background: url(../../assets/images/page_not_found/bgpage-not-found2.jpg) 0 0 no-repeat;
  background-size: 100%;
}

.wrapper {
  position: relative;
  padding-bottom: 88px;
  background-color: $white;
}

.header {
  &Box {
    position: relative;
    z-index: 1;
    @extend %box;
    padding-top: 215px;
    text-align: center;

    @media (max-width: 804px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &Title {
    @extend %title;
    color: $white;
    margin: 0 0 80px;
  }
}

.preTitle {
  @extend %subTitle;
  color: $white;
  margin: 0 0 12px;
}

.title {
  @extend %title;
  margin: 0 0 32px;
}

.container {
  @extend %wrapper;
  max-width: 930px;
  padding-bottom: 88px;
}

.projects {
  padding: 56px 0;
  display: grid;
  grid-auto-flow: dense;
  gap: 32px;

  @media (max-width: 509px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 510px) {
    grid-template-columns: 1fr 1fr;
  }

  &Item {
    width: 100%;

    @media (min-width: 510px) {
      &Wide {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
}

.loadmoreBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomBlockWrap {
  @extend %bottomWrap;
}

.selector {
  padding-top: 56px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &Item {
    position: relative;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: transparent;

    &::after {
      position: absolute;
      bottom: 0px;
      left: 0;
      display: block;
      height: 1px;
      width: 100%;
      max-width: 0px;
      background-color: $black;
      content: '';
      transition: 0.7s max-width;
    }

    &:hover {
      &::after {
        max-width: 300px;
      }
    }

    &Curent {
      &::after {
        max-width: 300px;
      }
    }
  }
}
