@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

.app {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  transition: 2s;
}

.board {
  border: 1px solid lightgray;
  width: 200px;
  height: 200px;
  transition: 2s;

  &:first-child {
    position: absolute;
    left: -240px;
    top: 0;
    height: 800px;
    overflow: auto;
    transition: 2s;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.boardTitle {
  font-size: 1.5rem;
  font-weight: 700;
  transition: 2s;
}

.item {
  width: 100%;
  cursor: grab;
  transition: 2s;
}
.active + .active {
  transform: translateY(-200px);
  transition: 2s;
}
