@use 'assets/styles/_vars' as *;
@use 'assets/styles/_mixins' as *;

.app {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
}

.board {
  border: 1px solid lightgray;
  width: 200px;
  height: 200px;

  &:first-child {
    position: absolute;
    left: -240px;
    top: 0;
    height: 800px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.boardTitle {
  font-size: 1.5rem;
  font-weight: 700;
}

.item {
  width: 100%;
  //border: 2px solid lightpink;
  //padding: 10px;
  //border-radius: 6px;
  //margin: 5px 0;
  cursor: grab;
  //background-color: #fcfcf9;
}
